apiVersion: v1
kind: Service
metadata:
  name: nodeapp
  labels:
    app: nodeapp
spec:
  selector:
    app: nodeapp
  ports:
    - name: http
      port: 80
      targetPort: 5000
      protocol: TCP
  type: LoadBalancer
